<?xml version="1.0" encoding="UTF-8"?>

<app>
  <default>
    <uri>
      <host>dev</host>
      <path>boonspace/httpdocs</path>
    </uri>

    <template>
      <mastertemplate>system.master</mastertemplate>
    </template>

    <db>
      <uri>mysqli://boonspace:F83ZjudAc8BNcEnX@localhost/boonspace</uri>
      <prefix>bs_</prefix>
    </db>

    <errors>
      <showerrors>0</showerrors>
      <debugmode>0</debugmode>
    </errors>
  </default>

  <dev>
    <uri>
      <host>dev</host>
      <path>boonspace/httpdocs</path>
    </uri>

    <template>
      <mastertemplate>system.master</mastertemplate>
    </template>

    <db>
      <uri>mysqli://boonspace:F83ZjudAc8BNcEnX@localhost/boonspace</uri>
      <prefix>bs_</prefix>
    </db>

    <errors>
      <showerrors>1</showerrors>
      <debugmode>1</debugmode>
    </errors>
  </dev>

  <test>
    <uri>
      <host></host>
      <path></path>
    </uri>

    <template>
      <mastertemplate>system.master</mastertemplate>
    </template>

    <db>
      <uri>mysqli://boonspace:F83ZjudAc8BNcEnX@localhost/boonspace</uri>
      <prefix>bs_</prefix>
    </db>

    <errors>
      <showerrors>0</showerrors>
      <debugmode>0</debugmode>
    </errors>
  </test>

  <live>
    <uri>
      <host></host>
      <path></path>
    </uri>

    <template>
      <mastertemplate>system.master</mastertemplate>
    </template>

    <db>
      <uri>mysqli://boonspace:F83ZjudAc8BNcEnX@localhost/boonspace</uri>
      <prefix>bs_</prefix>
    </db>

    <errors>
      <showerrors>0</showerrors>
      <debugmode>0</debugmode>
    </errors>
  </live>
</app>