<?xml version="1.0" encoding="utf-8"?>

<app>
  <default>
    <uri>
      <host>dev</host>
      <path>boonspace/httpdocs</path>
    </uri>

    <template>
      <mastertemplate>system.master</mastertemplate>
    </template>

    <db>
      <uri>mysqli://boonspace:F83ZjudAc8BNcEnX@localhost/boonspace</uri>
      <prefix>bs_</prefix>
    </db>

    <errors>
      <showerrors>0</showerrors>
      <debugmode>0</debugmode>
      <defaultformerror>{field} errored</defaultformerror>
    </errors>

    <cookie>
      <domain></domain>
      <path>/</path>
    </cookie>
  </default>

  <dev>
    <errors>
      <showerrors>1</showerrors>
      <debugmode>1</debugmode>
    </errors>
  </dev>
</app>