<?xml version="1.0" encoding="UTF-8"?>

<routes>
  <index>
    <execute controller="HomeController" action="index" secure="no" />
  </index>

  <notfound>
    <execute controller="ErrorController" action="Error404" />
  </notfound>

  <route match="test1">
    <execute controller="TestController" />
  </route>

 <route match="test2">
  <execute controller="TestController" action="TestAction" />
 </route>

 <route match="test3">
  <execute controller="TestController" action="TestAction2" secure="yes" />

  <param>Chris Emerson</param>
 </route>

 <route match="test3/{string}">
  <execute controller="TestController" action="TestAction2" />

  <param>%1</param>
 </route>

 <route match="test4">
  <redirect route="test1" secure="no" />
 </route>

 <route match="test5">
  <redirect uri="http://www.nugc.net" />
 </route>
</routes>