<?xml version="1.0" encoding="UTF-8"?>

<routes>
  <index>
    <execute controller="HomeController" action="index" secure="no" />
  </index>

  <notfound>
    <execute controller="ErrorController" action="Error404" />
  </notfound>

<!-- Some examples of routes:
  <route match="[match]">
    <execute controller="[controller]" />
  </route>

  <route match="[match]">
   <execute controller="[controller]" action="[action]" />
  </route>

  <route match="[match]">
    <execute controller="[controller]" action="[action]" secure="yes" />

    <param>Example Param</param>
  </route>

  <route match="[match]/{string}">
    <execute controller="[controller]" action="[action]" />

    <param>%1</param>
  </route>

  <route match="[match]">
    <redirect route="[route]" secure="no" />
  </route>

  <route match="[match]">
    <redirect uri="[uri]" />
  </route>
 -->
</routes>